
<style>
    
</style>
<h1>Signup</h1>
        <form action ="/validate_info" method="post">
        
        <label for="user-signup">
        Username:
            <input type="text" name="username" />
            <id="error">
            <br>
        Password:
            <input type="text" name="password"/> <id="error"/>
            
            <br>
        Verify Password:
            <input type="text" name="confirmation"  />
            <id="error">
            <br>
        Email(optional):
            <input type="text" name="email" />
            <id="error">
            <br>
            <input type="submit" value ="Submit"/>
        </label>
        
        </form>
        